<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/styles/style.css" />
    <title>Healthcare Management</title>
  </head>
  <body>
    <header>
      <!--navbar starts-->
      <nav class="navbar">
        <a href="/" class="navbar_logo">Healthcare Management</a>
        <div class="navbar_bars">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="navbar__menu">
          <a href="#" class="navbar__menu--links">Home</a>
          <a href="#" class="navbar__menu--links">Find a Doctor</a>
          <a href="#" class="navbar__menu--links">Contact Us</a>
          <a href="#" class="navbar__menu--links" id="button">Log In</a>
        </div>
      </nav>
      <!--end of navbar-->

    </header>
    <!--end of header-->
    <!--section for logo or generic hospital picture that will display under navbar-->
     <div class="hero">
        <div class="hero_container">
            <img src="/public/images/generichospital.jpeg" alt="hospital" class="hero_container--img">
        </div>
    </div>
    <section>
      <article>
        <div id="appointment">
          <h2>Book an appointment</h2>
        </div>
        <div id="listOfInsurances">
          <h2>List of Insurance accepted</h2>
          <ul>
              <li>Covered CA</li>
              <li>Blue Shield of California Life and Health Insurance Company</li>
              <li>Kaiser Permanente Insurance Company</li>
              <li>Health Net Life Insurance Company</li>
          </ul>
        </div>
      </article>

      <aside>
        <div id="aboutUs">
          <h3>About Us</h3>
          <p>
            Since our founding in 2022 as the (Hospital name here), countless patients have entrusted our physicians, nurses and associates with their health care needs. Today, we are the largest medical center serving the Los Angeles County.
          </p>
        </div>

      </aside>
      <footer class="footer" id="contactUs">
        <h2>Made with ❤️️ by Sandra Mendoza, Kilisi Vasquez, and Jennyfer
          Constanza</h2>
        <div>
          <!-- linkedin -->
          <a
            class="btn btn-primary"
            style="background-color: #0082ca;"
            href="#"
            target="_blank"
            role="button"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
          <!-- github -->
          <a
            class="btn btn-primary"
            style="background-color: #333333;"
            href="#"
            target="_blank"
            role="button"
          >
            <i class="fab fa-github"></i>
          </a>
        </div>
        <p>
          &copy; 2022
        </p>
      </footer>
      <!--end of footer-->
    </section>
  </body>
  <script
    src="https://kit.fontawesome.com/4f208ec3f2.js"
    crossorigin="anonymous"
  ></script>
</html>