 
  
      <aside>
        <div id="contactUs">
          <h2>Contact Us</h2>
          <ul id="locationAndHours">
            <li>Location</li>
            <li>Hours</li>
          </ul>
        </div>
      </aside>
      <article class="content">
         <section class="appointment" id="appointment">
          <div class="row">
            <form action="">
              <h2>Book an appointment</h2>
            <input type="text" placeholder="Your name" class="box">
            <input type="number" placeholder="Your phone number" class="box">
            <input type="email" placeholder="Your email" class="box">
            <input type="date" class="box">
            <input type="submit" value="Book now" class="btn">
            </form>
          </div>
        </section>
        <section id="insurances">
          <h2>List of insurance accepted</h2>
          <ul id="listOfInsurances">
              <li>Cigna</li>
              <li>Blue Shield of California Life</li>
              <li>Anthem Blue Cross Blue Shield</li>
          </ul>
        </section>
      </article>
     
<!--footer starts-->
       <footer class="footer" id="footer">
        <div class="row1">
            <h3 class="title-centered">Get connected with us:</h3>
        </div>
        <div class="row2">
             <div class="col1">
             <h3>Sandra Mendoza</h3>
            <ul>
                <li>
                    <p><i class="fa-solid fa-envelope"></i>sandraxmendoza@gmail.com</p>
                </li>
                <li>
                    <p><i class="fa-solid fa-phone"></i> (xxx)xxxxxx</p>
                </li>
                <li>
                    <a href="#" target="_blank" role="button">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a  href="#" target="_blank" role="button">
                         <i class="fa-brands fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col2">
             <h3>Kilisi Vazquez</h3>
            <ul>
                <li>
                    <p><i class="fa-solid fa-envelope"></i> kilisivazquez@yahoo.com</p>
                </li>
                <li>
                    <p><i class="fa-solid fa-phone"></i>(415) 310-4533</p>
                </li>
                <li>
                    <a href="#!" target="_blank" role="button">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a  href="#!" target="_blank" role="button">
                         <i class="fa-brands fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col3">
             <h3>Jennyfer Constanza</h3>
            <ul>
                <li>
                    <p><i class="fa-solid fa-envelope"></i> jennyferislas@gmail.com</p>
                </li>
                <li>
                    <p><i class="fa-solid fa-phone"></i> (626) 556-5577</p>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/jennyfer-constanza-6684a6235/" target="_blank" role="button">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a  href="https://github.com/jennyferconstanza" target="_blank" role="button">
                         <i class="fa-brands fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
        </div>
        <div class="row3">
            <h3>Products Used</h3>
             <a href="https://sass-lang.com/" target="_blank">SASS</a>
             <a href="https://fonts.google.com/" target="_blank">Google Fonts</a>
        </div>
    </footer>
<!--end of footer-->
    </section>
  </script>
  <script
    src="https://kit.fontawesome.com/4f208ec3f2.js"
    crossorigin="anonymous"
  ></script>
  <script src="script.js"></script>
</html>