      <aside>
        <div id="doctors">
          <h2>Find a Doctor</h2>
          <ul id="listOfDoctors">
            <li> Jose Hernandez
              <p>Dr. Hernandez is a caring and dedicated primary care doctor and family physician serving patients in Los Angeles, CA. Dr. Hernandez can communicate with his patients in English, Spanish, and French.
            Dr. Hernandez received his medical degree from Medical University, and he completed his residency in family medicine through the Los Angeles Hospital.
            </p>
            </li>
            <li>John Smith
              <p>
              Dr. Smith is a Family Medicine Specialist in Los Angeles, CA and has over 51 years of experience in the medical field. He graduated from Medical University in 1971.  
            </p>
            </li>
            <li>Sandra Mendoza
              <p>
             Dr. Mendoza is a board-certified in adult psychiatry, and has experience to treat all ages. She completed her residencies at the University of Medicine where she served as chief resident at the Centre for Addiction and Mental Health and the Hospital for Sick Children.
            </p>
            </li>
            <li>Kilisi Vazquez
              <p>
             When you have skin concerns, it is important to feel completely comfortable with your clinician. Dr.Vazquez offers compassionate care for residents of the Los Angeles area.
            </p>
            </li>
            <li>Jennyfer Constanza
              <p>
              Dr. Constanza brings a unique perspective to her work as a radiation oncologist. She is well-versed in many forms of radiation therapy including image-guided radiation therapy, intensity modulated radiation therapy.
            </p>
            </li>
          </ul>
        </div>
      </aside>
</html>