<!--article starts-->
      <article>
        <!--about us section-->
        <section id="aboutUs">
          <h2>About Us</h2>
          <p>
            Since our founding in 2022 as the Los Angeles Hospital, countless patients have entrusted our physicians, nurses and associates with their health care needs. Today, we are the largest medical center serving the Los Angeles County.
          </p>
        </section>
        <!--list of insurances section-->
       <section id="insurances">
          <h2>List of insurance accepted</h2>
          <ul id="listOfInsurances">
              <li>Cigna</li>
              <li>Blue Shield of California Life</li>
              <li>Anthem Blue Cross Blue Shield</li>
          </ul>
       </section>
      </article>
<!--end of article-->
<!--aside starts-->
      <aside>
  <!--location and hours information-->
        <div id="contactUs">
          <h2>Contact Us</h2>
          <ul id="locationAndHours">
            <li>Location</li>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105822.65639734369!2d-118.32673428359377!3d34.01928869999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2cf3f6ad0616f%3A0xeaacc414d0daa3be!2sLos%20Angeles%20Community%20Hospital!5e0!3m2!1sen!2sus!4v1660090670720!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <li>Hours
              <p>
              Monday: 9:00am - 5:00pm
              <br>
              Tuesday: 9:00am - 5:00pm
              <br>
              Wednesday: 9:00am - 5:00pm
              <br>
              Thursday: 9:00am - 5:00pm
              <br>
              Friday: 9:00am - 5:00pm
              <br>
              Saturday: 9:00am - 5:00pm
              <br>
              Sunday: CLOSED
              </p>
            </li>
            <li>Phone Number
                <p>
                (626) 555 - 5555
              </p>
            </li>
          </ul>
        </div>
    </aside>   
 <!--end of aside-->
  <script src="https://kit.fontawesome.com/4f208ec3f2.js"crossorigin="anonymous"></script>
</html>