
  <body>
    <header>
      <!--navbar starts-->
      <nav class="navbar">
        <a href="/layouts/main.handlebars" class="navbar_logo">Healthcare Management</a>
        <div class="navbar_bars">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="navbar__menu">
          <a href="/homepage" class="navbar__menu--links" id="navbar_menu--links">Home</a>
          <a href="/finddoctor" target="_blank" class="navbar__menu--links" id="navbar_menu--links">Find a Doctor</a>
          <a href="/contact" class="navbar__menu--links" id="navbar_menu--links">Contact Us</a>
          <a href="/login" class="navbar__menu--links" id="navbar_menu--links">Log In</a>
        </div>
      </nav>
      <!--end of navbar-->
    </header>
    <!--end of header-->
     <!--section for logo or generic hospital picture that will display under navbar-->
    <div class="hero">
        <div class="hero_container">
            <img src="/images/generichospital.jpeg" alt="hospital" class="hero_container--img">
        </div>
    </div>
     
      <!--log in form -->
    <aside>
       <div class="container">
		    <h2>Login</h2>
            <form class="form login-form">
                <div class="form-group">
                <label for="email-login">email:</label>
                <input class="form-input" type="text" id="email-login" />
                </div>
                <div class="form-group">
                <label for="password-login">password:</label>
                <input class="form-input" type="password" id="password-login" />
                </div>
                <div class="form-group">
                <button class="btn btn-primary" type="submit">login</button>
                </div>
            </form>
	    </div>
    </aside>
 
    <article class="content">
    <section>
      <h2>Signup</h2>
      <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
        </form>
    </section>
    </article>
     

  <script
    src="https://kit.fontawesome.com/4f208ec3f2.js"
    crossorigin="anonymous"
  ></script>
  <script src="./js/login.js"></script>
 </body>
 
</html>