:root {
  --white-color:#f7f7f7;
  --blue-color: #74aacb;
  --black-color: #212222;
  --gray-color: #707474;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: var(--blue-color);
}
/*navbar styling*/
.navbar_logo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-color);
  cursor: pointer;
  text-decoration: none;
  font-size: 32px;
  margin-left: 24px;
}

.navbar__menu {
  display: inline-table;
}
.navbar {
  background: var(--blue-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}
.navbar_bars {
  opacity: 0;
}
#navbar_menu--links {
color: var(--white-color);
display: flexbox;
text-decoration: none;
padding: 3px;
font-size: 20px;
}
/*end of navbar styling*/
/*hero styling*/
.hero_container {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}
.hero_container--img {
  height: 100%;
  width: 100%;
}
/*end of hero styling*/
#welcome {
   margin-bottom: 20px;
  padding: 50px;
  color: var(--white-color);
}
/*aside styling*/
aside {
  background: var(--blue-color);
  float: left;
  width: 50%;
  color: var(--white-color);
  padding: 50px;
  color: var(--white-color);
  display: flexbox;
}
aside ul li {
  padding-bottom: 10px;
}
aside ul li p {
  font-size: 23px;
}
/*login/signup form styling*/
.container {
  margin:.112px 0;
  border-radius: 8px;
  font-size: 25.6px;
  color: var(--white-color);
  text-transform: none;
}
.container form .form-input, .content form .form-input{
  flex:1 1 720px;
  text-align: center;
  padding: 15px;
  width: 100%
}
.label{
	padding: 20px 130px;
	font-size: 35px;
	font-weight: bold;
	color: var(--white-color);
}
input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid var(--gray-color);
}
button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: var(--gray-color);
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: var(--white-color);
	border-radius: 3px;
	border: 1px solid var(--gray-color);
}
button:hover{
	background: var(--gray-color);
  color: var(--white-color);
}

/*article styling*/
.content {
  font-size: 25.6px;
}
article .content {
  margin-left: 20px;
}
article #aboutUs, article #insurances {
  margin-bottom: 20px;
  padding: 50px;
  color: var(--white-color);
}
article p {
  font-size: 25px;
}
article {
  background: var(--blue-color);
  float: right;
  width: 50%;
  color: var(--white-color);
  padding: 50px;
  color: var(--white-color);
  display: flexbox;
}
/*new patient form styling*/
.new-patient-container {
  max-width: 900px;
  width: 100%;
}
/*end of appointment form styling*/
#listOfInsurances, #listOfDoctors, #locationAndHours {
  list-style-type: none;
}
#listOfDoctors li {
margin-bottom: 30px;
}
article h2, aside h2 {
  margin-bottom: 20px;
  font-size: 40px;
}
article ul, aside ul {
  font-size: 28px;
}
/*end of article styling*/
/*footer styling*/
footer {
  padding-top: 1500px;
  background: var(--blue-color);
  color: var(--white-color);
}
#footer {
  background: #fffff000;
  color: var(--white-color);
  text-align: center;
}
.row2{
  width: 100%;
  padding: 50px 15%;
  display: flex;
  align-content: center;
}
.row1, .row3{
  width: 100%;
  align-content: center;
}
footer ul {
    list-style-type: none;
    font-size: 20px;
}
.col1, .col2, .col3 {
  flex-grow: 2;
}
.footer div h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: var(--white-color);
}
.row3 a, .col1 a, .col2 a, .col3 a {
  display: flexbox;
  text-decoration: none;
  color: var(--white-color);
  padding: 3px;
}
/*media queries styling*/
@media only screen 
  and (max-width:600px){
  .navbar_menu--links {
    color: var(--black-color);
  }
  .row2{
  width: 100%;
  padding: 50px 15%;
  display: block;
  align-content: center;
}

}
@media screen and (max-width: 1023px) {
  .navbar_menu {
    background-color: #fffff000;
    box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
    padding: 8px 0;
  }
  article {
    clear: both;
    width: 100%; 
}
aside {
    clear: both;
    width: 100%;
}
}
@media screen and (max-width: 768px) {
.btn {
  width: 100%;
}
  .navbar_menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .navbar_bars {
    color: var(--black-color);
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 32px;
  }
}
/*ipad mini devices*/
@media only screen 
  and (min-device-width: 601px) 
  and (max-device-width: 1024px) {
 .navbar_menu--links {
  color: var(--black-color);
  }
  .row2{
  width: 100%;
  padding: 50px 15%;
  display: block;
  align-content: center;
}
article {
    clear: both;
    width: 100%;
}
aside {
    clear: both;
    width: 100%;
}
  }